.solution{
    width: 100%;
	height: auto;
    padding: 0px 0;
    background: #5DBDD6;
    

    &__content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

        @media(min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @media(min-width: 1199px){
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
        }

        &__imagen{
            width: 100%;
            height:auto;
            max-height: 500px;

            @media(min-width: 600px){
                width: 500px;
                height: 800px;
            }

            @media(min-width: 1199px){
                max-height: 100%;
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
            }

            @media(min-width: 1700px){
                max-height: 1200px;
                width: 80%;
                height: auto;
            }


    
        }

        &__text{
            
            flex-direction: column;
            padding: 74px 30px;

            h1.title{
                color: #224378;
                font-size: 20px;
                text-align: left;
                font-family: 'Open Sans';
                padding-bottom: 15px;
                padding-top: 40px;
                
                @media(min-width:768px){
                    font-size: 25px;
                }

                @media(min-width:1199px){
                    font-size: 30px;
                    padding-bottom: 2px;
                    padding-top: 40px;
                }
                
                @media(min-width:1700px){
                    font-size: 35px;
                }
            }

            p {
                color: #fff;
                font-size: 18px;
            }

            &__information{
                display: flex;
                justify-content: space-around;
                gap: 15px;
                padding: 27px 0px 0px;

                &__imagen_line{
                    flex-direction: column;

                    &__imagen{
                        width: 87px;
                        height: 87px;
                    }
    
                    hr{
                        height: 100px;
                        width: 10px;
                        color: $medium_electric_blue;
                        background-color: $medium_electric_blue;
                        border-color:$medium_electric_blue ;

                        @media(min-width:350px){
                            height: 70px;
                        }

                    }
                }

                &__text{
                    max-width: 800px;
                    p{
                        color: $white;
                        font-size: 15px;
                        padding: 3px;
                
                        @media(min-width: 1199px){
                            font-size: 18px;
                        }
                    }
                    span{
                        font-weight: bold;
                    }
                }

                &__button{
                    padding-top: 44px;
            
                    @media(min-width:1199px){
                    }
            
                    a{
                      
                        margin-top: 15px;
                        background-color:#224378;
                        font-family: OpenSans-Bold;
                        font-weight: bold;
                        padding: 15px 30px ;
                        color:#fff;
                        border-radius: 28px;
                        text-align: center;
            
                        @media(min-width:300px){
                            font-size: 15px;         
                        }
            
                        @media(min-width:768px){
                            font-size: 20px;
                            
                        }
            
                        @media(min-width:1199px){
                            margin-top: 20px;
                        }
            
                    }
            
                    a:hover{
                        background-color:$elephant ;
                        color: $white;
                        border: 2px solid $white;
                    }
                }
               
            }
        }

    }
}